<mat-card class="user-card">
  <mat-card-header class="user-card-header">
    <div mat-card-avatar class="user-header-image"></div>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
    <mat-card-subtitle>{{user.occupation}}</mat-card-subtitle>
  </mat-card-header>
  <button class="detail-button" (click)="viewDetails = true" *ngIf="!viewDetails" mat-stroked-button>Show
    details</button>
  <button class="detail-button" (click)="viewDetails = false; allDetailsMode = false" *ngIf="viewDetails && !editMode" mat-stroked-button>Hide
    details</button>
  <mat-card-content class="mat-card-content">

    <app-user-list *ngIf="!editMode && viewDetails" [user]="user"></app-user-list>

    <div *ngIf="observableWorkingConditions && editMode && viewDetails" class="user-form-container">

      <form [formGroup]="userForm">

        <mat-form-field appearance="fill">
          <mat-label for="firstName">First name</mat-label>
          <input id="firstName" required matInput formControlName="firstName" value="{{user.firstName}}">
          <mat-error>
            Firstname is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label for="lastName">Last name</mat-label>
          <input id="lastName" required matInput class="form-control" formControlName="lastName"
            value="{{user.lastName}}">
          <mat-error>
            Lastname is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label for="address">Address</mat-label>
          <input id="address" required matInput class="form-control" formControlName="address" value="{{user.address}}">
          <mat-error>
            Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label for="occupation">Occupation</mat-label>
          <input id="occupation" required matInput class="form-control" formControlName="occupation"
            value="{{user.occupation}}">
          <mat-error>
            Occupation is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label for="workingConditionsId">Working conditions ID</mat-label>
          <mat-select required id="workingConditionsId" class="form-control" formControlName="workingConditionsId"
            value="{{user.workingConditionsId}}">
            <mat-option *ngFor="let wc of observableWorkingConditions | async" [value]="wc.id">{{wc.id}}</mat-option>
          </mat-select>
          <mat-error>
            Workingconditions ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label for="active">Active</mat-label>
          <mat-select required id="active" class="form-control" formControlName="active" [(value)]="user.active">
            <mat-option value="true">true</mat-option>
            <mat-option value="false">false</mat-option>
          </mat-select>
          <mat-error>
            Select <strong>true</strong> or <strong>false</strong>
          </mat-error>
        </mat-form-field>

      </form>

    </div>

    <button mat-stroked-button (click)="allDetailsMode = true" class="detail-button" *ngIf="!editMode && viewDetails && !allDetailsMode">Show more details ...</button>
    <button mat-stroked-button (click)="allDetailsMode = false" class="detail-button" *ngIf="!editMode && viewDetails && allDetailsMode">Hide more details ...</button>

    <app-details *ngIf="allDetailsMode" class="user-form-container" [user]="user"></app-details>

  </mat-card-content>
  <mat-card-actions>
    <button (click)="editMode = true" *ngIf="!editMode && viewDetails && !allDetailsMode" mat-raised-button>Edit</button>
    <button (click)="deleteUser()" *ngIf="editMode && viewDetails && !allDetailsMode" mat-raised-button color="warn">Delete</button>
    <button (click)="updateUser()" *ngIf="editMode && viewDetails && !allDetailsMode" mat-raised-button>Save</button>
    <button (click)="editMode = false" *ngIf="editMode && viewDetails && !allDetailsMode" mat-raised-button>Cancel</button>
  </mat-card-actions>
</mat-card>