<mat-card class="user-card">
  <mat-card-header *ngIf="newMode" class="user-card-header">
    <div mat-card-avatar class="user-header-image"></div>
    <mat-card-title>New User</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="newMode" class="mat-card-content">

    <div *ngIf="observableWorkingConditions" class="user-form-container">

      <form [formGroup]="userForm">

        <mat-form-field appearance="fill">
          <mat-label for="firstName">First name</mat-label>
          <input id="firstName" required matInput formControlName="firstName">
          <mat-error>
            Firstname is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label for="lastName">Last name</mat-label>
          <input id="lastName" required matInput class="form-control" formControlName="lastName">
          <mat-error>
            Lastname is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label for="address">Address</mat-label>
          <input id="address" required matInput class="form-control" formControlName="address">
          <mat-error>
            Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label for="occupation">Occupation</mat-label>
          <input id="occupation" required matInput class="form-control" formControlName="occupation">
          <mat-error>
            Occupation is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label for="workingConditionsId">Working conditions ID</mat-label>
          <mat-select required id="workingConditionsId" class="form-control" formControlName="workingConditionsId">
            <mat-option *ngFor="let wc of observableWorkingConditions | async" [value]="wc.id">{{wc.id}}</mat-option>
          </mat-select>
          <mat-error>
            Workingconditions ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label for="active">Active</mat-label>
          <mat-select required id="active" class="form-control" formControlName="active">
            <mat-option value="true">true</mat-option>
            <mat-option value="false">false</mat-option>
          </mat-select>
          <mat-error>
            Select <strong>true</strong> or <strong>false</strong>
          </mat-error>
        </mat-form-field>

      </form>

    </div>

  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!newMode" (click)="addAnother()" mat-raised-button> + Add another user </button>
    <button *ngIf="!newMode" (click)="doneAdding()" mat-raised-button> Done </button>
    <button *ngIf="newMode" (click)="addUser()" mat-raised-button>Save</button>
    <button *ngIf="newMode" (click)="cancel()" mat-raised-button>Cancel</button>
  </mat-card-actions>
</mat-card>