<div *ngIf="observableWorkingConditions | async as observableWorkingConditions else workingConditionsEmpty"
     class="wc-div">

  <button (click)="refresh()" mat-icon-button color="primary" aria-label="Refresh table content">
    <mat-icon>refresh</mat-icon>
  </button>

  <button mat-icon-button color="primary" aria-label="Add working condition"
          (click)="openWcDialog(newWorkingCondition())">
    <mat-icon>add</mat-icon>
  </button>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Conclusion" #input>
  </mat-form-field>

  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="workingConditions">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let wc">{{wc.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="salaryGroup">
      <mat-header-cell *matHeaderCellDef>Salary group</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let wc">{{wc.salaryGroup}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="companyCar">
      <mat-header-cell *matHeaderCellDef>Company car</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let wc">{{wc.companyCar}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="companyLaptop">
      <mat-header-cell *matHeaderCellDef>Company laptop</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let wc">{{wc.companyLaptop}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let wc">
        <button mat-icon-button aria-label="Edit workingcondition" (click)="openWcDialog(wc)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete workingcondition" (click)="openDeleteDialog(wc.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <!-- not working for now!
  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>-->

</div>

<ng-template #workingConditionsEmpty> No working conditions found - dit you start the working-conditions-application
  backend?
</ng-template>
