.mat-tab-group {
    margin-bottom: 48px;
  }

.mat-form-field {
  width: 400px;
}

.wc-div {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Column Widths */
.mat-column-active,
.mat-column-id {
  max-width: 5%;
}
