<mat-card class="workingcondition-card">
    <mat-card-header class="workingcondition-card-header">
      <div mat-card-avatar class="workingcondition-header-image"></div>
      <mat-card-title>Working condition set # '{{workingCondition.id}}'</mat-card-title>
      <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <button class="detail-button" (click)="viewDetails = true" *ngIf="!viewDetails" mat-stroked-button>Show
      details</button>
    <button class="detail-button" (click)="viewDetails = false" *ngIf="viewDetails && !editMode" mat-stroked-button>Hide
      details</button>
    <mat-card-content class="mat-card-content">
  
      <div *ngIf="viewDetails && !editMode" class="workingcondition-list-container">

        <mat-list role="list">
            <label>ID: 
                <mat-list-item role="listitem">{{workingCondition.id}}</mat-list-item>
            </label>
            <label>Salary group: 
                <mat-list-item role="listitem">{{workingCondition.salaryGroup}}</mat-list-item>
            </label>
            <label>Company car: 
                <mat-list-item role="listitem">{{workingCondition.companyCar}}</mat-list-item>
            </label>
            <label>Company laptop: 
                <mat-list-item role="listitem">{{workingCondition.companyLaptop}}</mat-list-item>
            </label>
          </mat-list>

      </div>
      <div *ngIf="viewDetails && editMode"  class="workingcondition-form-container">

        <form [formGroup]="workingConditionForm">
    
            <mat-form-field appearance="fill">
                <mat-label for="salaryGroup">Salary group</mat-label>
                <mat-select required id="salaryGroup" class="form-control" formControlName="salaryGroup"
                  value="{{workingCondition.salaryGroup}}">
                  <mat-option *ngFor="let sg of observableSalaryGroup | async" [value]="sg.salaryGroupCode">{{sg.salaryGroupCode}}</mat-option>
                </mat-select>
                <mat-error>
                  Salary group ID is <strong>required</strong>
                </mat-error>
              </mat-form-field>
    
            <br>
    
            <mat-form-field appearance="fill">
                <mat-label for="companyCar">Company car</mat-label>
                <mat-select required id="companyCar" class="form-control" formControlName="companyCar" [(value)]="workingCondition.companyCar">
                  <mat-option value="true">true</mat-option>
                  <mat-option value="false">false</mat-option>
                </mat-select>
                <mat-error>
                  Select <strong>true</strong> or <strong>false</strong>
                </mat-error>
              </mat-form-field>
    
              <mat-form-field appearance="fill">
                <mat-label for="companyLaptop">Company laptop</mat-label>
                <mat-select required id="companyLaptop" class="form-control" formControlName="companyLaptop"
                  value="{{workingCondition.companyLaptop}}">
                  <mat-option *ngFor="let cl of observableCompanyLaptop | async" [value]="cl.companyLaptopTypes">{{cl.companyLaptopTypes}}</mat-option>
                </mat-select>
                <mat-error>
                  Company laptop ID is <strong>required</strong>
                </mat-error>
              </mat-form-field>
    
          </form>

      </div>
  
    </mat-card-content>
    <mat-card-actions>
        <button (click)="editMode = true" *ngIf="!editMode && viewDetails" mat-raised-button>Edit</button>
        <button (click)="deleteWorkingCondition()" *ngIf="editMode && viewDetails" mat-raised-button color="warn">Delete</button>
        <button (click)="updateWorkingCondition()" *ngIf="editMode && viewDetails" mat-raised-button>Save</button>
        <button (click)="editMode = false" *ngIf="editMode && viewDetails" mat-raised-button>Cancel</button>
    </mat-card-actions>
  </mat-card>