<mat-list role="list">
    <label>Firstname: 
        <mat-list-item role="listitem">{{user.firstName}}</mat-list-item>
    </label>
    <label>Lastname: 
        <mat-list-item role="listitem">{{user.lastName}}</mat-list-item>
    </label>
    <label>Address: 
        <mat-list-item role="listitem">{{user.address}}</mat-list-item>
    </label>
    <label>Occupation: 
        <mat-list-item role="listitem">{{user.occupation}}</mat-list-item>
    </label>
    <label>Working conditions ID: 
        <mat-list-item role="listitem">{{user.workingConditionsId}}</mat-list-item>
    </label>
    <label>Active: 
        <mat-list-item role="listitem">{{user.active}}</mat-list-item>
    </label>
  </mat-list>